<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">userid</th>
                    <th scope="col">id</th>
                    <th scope="col">title</th>
                    <th scope="col">completed</th>

                </tr>
            </thead>
            </table>
            <tbody>
                <tr *ngFor="let i of todos">
                    <th>{{i.userid}}</th>
                    <th>{{i.id}}</th>
                    <th>{{i.title}}</th>
                    <th>{{i.complete}}</th>

                </tr>
            </tbody>
        </div>
    </div>
</div>
